{% extends 'base.html'%}
{%load static%}

{% block title %}
Nuevo Alumno
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/alumno/registroAlumno.css'%}"/>

{% if messages %}
<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {% for message in messages %}
          {{message}}
        {% endfor %}
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{%endif%}

<div class="contenedor">
    <div class="titulo">
        <h2>Nuevo Alumno</h2>
    </div>
    <!-- Tomando la informacion del nuevo alumno -->
    <form class="contenedor formulario" action="{% url 'registrarAlumno'%}" method="POST">
        {% csrf_token %}
        <div class="nombre">
            <label for="nombre">Nombres:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Escriba el nombre" required="true"/>
            <label for="apellido">Apellidos:</label>
            <input type="text" id="apellido" name="apellido" placeholder="Escriba el apellido" required="true"/>
        </div>
        <div class="nombre">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" placeholder="#### ####" required="true" maxlength="8" minlength="8"/>
        </div>
        <div class="menorEdad">
            <label for="menorEdad">¿Es menor de edad?</label>
            <div>
                <label><input type="radio" name="menorEdad" value="1" onclick="encargado.disabled=false"/>SI</label>
                <label><input type="radio" name="menorEdad" value="0" onclick="encargado.disabled=true"/>NO</label>
            </div>
            <div>
                <label for="encargado">Nombre de encargado:</label>
                <input type="text" id="encargado" name="encargado" required="true" disabled="disabled"/>
            </div>
        <div>
        <div class="menorEdad">
                <label for="id">Identificación:</label>
                <div>
                    <label><input type="radio" name="id" value="DUI" required checked/>DUI</label>
                    <label><input type="radio" name="id" value="Pasaporte" required/>Pasaporte</label>
                    <label><input type="radio" name="id" value="Permiso de residencia" required/>Permiso de residencia</label>
                </div>
                <div>
                    <label for="numId">Número de ID:</label>
                    <input type="text" id="numId" name="numId" required="true"/>
                </div>
        </div>
        <div class="menorEdad">
                <label for="licencia">Licencia a tramitar:</label>
                <div>
                    <label><input type="radio" name="licencia" value="1" required/>Liviana</label>
                    <label><input type="radio" name="licencia" value="2" required/>Pesada</label>
                    <label><input type="radio" name="licencia" value="3" required/>Moto</label>
                </div>
        </div>
        </div>

        <button type="submit" class="enviar" value="Guardar">Guardar</button>

    </form>
</div>



{% endblock %}