.registrar_usuario{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
  }
  .registrar_usuario input{
    margin: 5px 0px;
    height: 35px;
    padding: 7px;
    font-style: italic;
  }
  .registrar_usuario button{
    height: 25px;
    margin: 5px 0px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #333;
  }

  .registrar_usuario label{
    color: white;
    text-align: left;
    text-transform: uppercase;
  }

  .registrar_usuario select{
    text-align: center;
    font-style: italic;
    margin: 5px 5px;
    height: 35px;
  }